.scores{
  position: relative;
}

.scores > div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border: 2px solid var(--black);
  box-shadow: 3px 3px 10px 0px var(--shadow);
  border-radius: 3px;
  white-space: nowrap;
  z-index: var(--z9);
}

.scores > div > p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bordergray);
  padding: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.scores > div > div{
  max-height: 70vh;
  overflow: auto;
}

.scores > div > div > label{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: space-between;
  padding: 0.1rem 0.5rem;
}