div.dienstplan_page > div.auswahl_leiste_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  flex-wrap: wrap-reverse;
}

div.dienstplan_page > div.auswahl_leiste_row > div{
  display: flex;
  padding-bottom: 0.25rem;
}

div.dienstplan_page > div.auswahl_leiste_row > div:first-child{
  gap: 0.25rem;
}

div.dienstplan_page > div.auswahl_leiste_row > div:nth-child(2){
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

@media (max-width: 1200px) {
  div.dienstplan_page > div.auswahl_leiste_row{
    align-items: flex-start;
  }

  div.dienstplan_page > div.auswahl_leiste_row > div:nth-child(2){
    flex-direction: column;
    justify-content: flex-start;
  }
}