.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  gap: 0.25em;
}

.container > div{
  width: 100%;
}

.table{
  border: none;
  border-collapse: collapse;
  width: fit-content;
  background-color: var(--white);
}

.table td{
  padding: 0.25em;
  background-color: inherit;
}

.table tbody,
.table tr{
  background-color: inherit;
}

.table tr{
  cursor: pointer;
  font-size: var(--text);
}

.table tr:hover{
  background-color: var(--hoverblue);
}

.table tr.group_title{
  cursor: default;
  background-color: var(--white);
  font-size: calc(var(--text) * 0.8);
}

.table tr.group_title:hover{
  background-color: var(--white);
}

.table tbody tr td.mitarbeiter-als-abwesend-markiert{
  background-color: var(--yellowgray);
}

.table tbody tr:hover td.mitarbeiter-als-abwesend-markiert{
  background-color: var(--hoveryellow);
}

.table tbody tr td.abwesend-eingeteilt{
  background-color: var(--abwesend);
}

.table tbody tr:hover td.abwesend-eingeteilt{
  background-color: var(--hovergray);
}